node-red-integration.json
[
    {
        "id": "4c94df9d.412af",
        "type": "function",
        "z": "f04ebecf.ec2c3",
        "name": "create Scriptable Test",
        "func": "//////////////////////////////////////////////\n// Set widget name here\n//////////////////////////////////////////////\nvar widgetname = \"Test\";\n\n//////////////////////////////////////////////\n// Fill your variables, which you want to provide within the different widget elements\n//////////////////////////////////////////////\n// Values for type = number\nvar valueNumber = 21;\n\n// Values for type = circle\nvar valueCircle = 73;\nvar colorCircle = \"0000FF\";\n\n// Values for type = switch\nvar valueSwitch = \"true\";\n\n// Values for type = switch1\nvar valueSwitch1 = \"OFF\";\n\n// Values for type = text\nvar valueText = \"Hello World!\";\nvar colorText = \"0000FF\";\n\n// Values for type = SFSymbol\nvar valueSFSymbol = \"sun.max.fill\";\nvar colorSFSymbol = \"F7FE2E\";\n\nvar valueSFSymbol2 = \"heart.fill\";\nvar colorSFSymbol2 = \"FF0000\";\n\n// Values for type = switchSF\nvar valueSwitchSF = \"ON\";\nvar symbolSwitchSF_ON = \"flame.fill\";\nvar colorSwitchSF_ON = \"FF0000\";\nvar symbolSwitchSF_OFF = \"flame\";\nvar colorSwitchSF_OFF = \"FF0000\";\n\nvar valueSwitchSF2 = \"ON\";\nvar symbolSwitchSF2_ON = \"person.fill.checkmark\";\nvar colorSwitchSF2_ON = \"31B404\";\nvar symbolSwitchSF2_OFF = \"person.fill.xmark\";\nvar colorSwitchSF2_OFF = \"FF0000\";\n\nvar valueSwitchSF3 = \"OFF\";\nvar symbolSwitchSF3_ON = \"person.fill.checkmark\";\nvar colorSwitchSF3_ON = \"31B404\";\nvar symbolSwitchSF3_OFF = \"person.fill.xmark\";\nvar colorSwitchSF3_OFF = \"FF0000\";\n\n//////////////////////////////////////////////\n// Maybe put some logic, if you have to change some values or derive symbols from values ...\n//////////////////////////////////////////////\n// Change true => ON and false to OFF\nif (valueSwitch == \"true\")\n    valueSwitch = \"ON\";\nelse\n    valueSwitch = \"OFF\";\n    \n// Determe different colors according to the value ranges\nswitch(true) {\n    case ((valueCircle >= 0) && (valueCircle <= 20)):\n        colorCircle = \"FF0000\";\n        break;\n    case ((valueCircle >= 21) && (valueCircle <= 60)):\n        colorCircle = \"FF8040\";\n        break;\n    case ((valueCircle >= 61) && (valueCircle <= 100)):\n        colorCircle = \"008000\";\n        break;\n    default:\n        colorCircle = colorCircle; // is already defined above\n        break;\n}\n\n//////////////////////////////////////////////\n// Fill each element of the widget with data\n//////////////////////////////////////////////\n// Initialize the array (here you have to define how many elements this widget will contain)\nvar widgetdata = [0,1,2,3,4,5,6,7,8,9];\n\nwidgetdata[\"0\"] = {name: \"number\", data: {value: valueNumber, unit: \"°C\", type: \"number\"}};\nwidgetdata[\"1\"] = {name: \"switch\", data: {value: valueSwitch, unit: \"\", type: \"switch\"}};\nwidgetdata[\"2\"] = {name: \"switch1\", data: {value: valueSwitch, unit: \"\", type: \"switch1\"}};\nwidgetdata[\"3\"] = {name: \"circle\", data: {value: valueCircle, unit: \"\", type: \"circle\", color: colorCircle}};\n\nwidgetdata[\"4\"] = {name: \"switchSF\", data: {value: valueSwitchSF, unit: \"\", type: \"switchSF\", SFSymbol_ON: symbolSwitchSF_ON, SFSymbol_ON_Color: colorSwitchSF_ON, SFSymbol_OFF: symbolSwitchSF_OFF, SFSymbol_OFF_Color: colorSwitchSF_OFF}};\nwidgetdata[\"5\"] = {name: \"SFSymbol\", data: {value: valueSFSymbol, unit: \"\", type: \"SFSymbol\", color: colorSFSymbol}};\nwidgetdata[\"6\"] = {name: \"SFSymbol\", data: {value: valueSFSymbol2, unit: \"\", type: \"SFSymbol\", color: colorSFSymbol2}};\nwidgetdata[\"7\"] = {name: \"text\", data: {value: valueText, unit: \"\", type: \"text\", color: colorText}};\n\nwidgetdata[\"8\"] = {name: \"switchSF\", data: {value: valueSwitchSF2, unit: \"\", type: \"switchSF\", SFSymbol_ON: symbolSwitchSF2_ON, SFSymbol_ON_Color: colorSwitchSF2_ON, SFSymbol_OFF: symbolSwitchSF2_OFF, SFSymbol_OFF_Color: colorSwitchSF2_OFF}};\nwidgetdata[\"9\"] = {name: \"switchSF\", data: {value: valueSwitchSF3, unit: \"\", type: \"switchSF\", SFSymbol_ON: symbolSwitchSF3_ON, SFSymbol_ON_Color: colorSwitchSF3_ON, SFSymbol_OFF: symbolSwitchSF3_OFF, SFSymbol_OFF_Color: colorSwitchSF3_OFF}};\n\n//////////////////////////////////////////////\n// Prepare msg object\n//////////////////////////////////////////////\nmsg.topic = widgetname;\nmsg.payload = {};\nRED.util.setObjectProperty(msg.payload, widgetname, widgetdata, true);\n\n//////////////////////////////////////////////\n// Return the message\n//////////////////////////////////////////////\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 360,
        "y": 720,
        "wires": [
            [
                "69fe36d6.4fd6f8",
                "1d4c2418.9a267c"
            ]
        ]
    },
    {
        "id": "4fb60252.9c177c",
        "type": "inject",
        "z": "f04ebecf.ec2c3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "3600",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 720,
        "wires": [
            [
                "4c94df9d.412af"
            ]
        ]
    },
    {
        "id": "69fe36d6.4fd6f8",
        "type": "debug",
        "z": "f04ebecf.ec2c3",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 680,
        "wires": []
    },
    {
        "id": "1d4c2418.9a267c",
        "type": "json",
        "z": "f04ebecf.ec2c3",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 570,
        "y": 720,
        "wires": [
            [
                "6e7a1e1e.48e14"
            ]
        ]
    },
    {
        "id": "6e7a1e1e.48e14",
        "type": "file",
        "z": "f04ebecf.ec2c3",
        "name": "",
        "filename": "/home/pi/.node-red/public/scriptable/scriptable_test.json",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 850,
        "y": 720,
        "wires": [
            []
        ]
    }
]